@font-face {
    font-family: primary-font;
    src: url(./fonts/HelveticaNeueLTStd-Ex.otf);
}
:root {
    --primary-button-color: rgb(3, 94, 0);
    --button-bg-fill: rgba(6, 184, 0, 0.3);
    --button-bg-light: rgba(186, 250, 213, 0.3);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #ffffffce;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
    border-radius: 4px;
    background: rgba(0, 253, 21, 0.664);
    cursor: pointer;
    overflow: hidden;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: primary-font;
    text-align: center;
    font-size: 1rem;
}

main {
    margin: 0 !important;
    padding: 0 !important;
    background: radial-gradient(circle at #5d8cd8 0%, #ffffff 60%);
    background-image: url(images/bg_2.3_tr.png);
    background-attachment: scroll;
    background-size: cover;
    height: 100dvh;
    font-family: inherit;
    overflow: auto;
}

section {
    margin: auto;
    padding: 50px 0;
    top: 0;
    left: 0;
    min-height: 100%;
    animation: pageAnim 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0%;
}
@keyframes pageAnim {
    from {
        opacity: 0;
        /* transform: scale(0); */
    }
    to {
        opacity: 1;
        /* transform: scale(1); */
    }
}

/* GENERAL STYLES */
p {
    font-size: 16px;
    line-height: 1.6;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
/* GLASS LIKE BUTTON  */
button {
    font-family: inherit;
    font-weight: bolder;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 100px;
    transition: 0.3s linear;
    background: var(--button-bg-light);
    color: var(--primary-button-color);
    mix-blend-mode: multiply;
    backdrop-filter: blur(5px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
}
a {
    text-decoration: none;
    color: #999;
    font-weight: bolder;
    font-size: 16px;
    margin: 0;
}

a:hover, a:active, a:focus {
    color: #000;
}
header,
footer {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: fit-content;
}
.g-effect {
    box-shadow:
    0 10px 20px rgba(0, 0, 0, .2),
    inset 0 -1px 2px  rgba(255, 255, 255, 0.4),
    inset -1px 0 3px  rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0) saturate(80%) url(#liquidGlass);
    border: 1px solid rgba(255, 255, 255, 0.4);
    
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(120deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3), transparent);
        opacity: 0.4;
        pointer-events: none;

    }
}
.card-effect {
    display: inline-block;
    border-radius: 24px;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    transition: all 1s linear;
    text-align: left;
    box-sizing: border-box;
    animation: breathing 2s linear infinite alternate;
}
.card-effect:hover {
    transform: translateY(-20px);
}

@keyframes breathing {
    to {
        transform: translateY(-20px);
    }
}

/* HEADER */
header {
    top: 0 !important;
    justify-content: space-between;
}
header span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
header h3 {
    display: inline;
    margin: 0px;
    font-weight: 900;
}
header button {
    padding: 12px 16px;
    margin: 0 20px;
    background: var(--button-bg-fill);
    mix-blend-mode: color-burn;
}
header button:hover {
    padding: 12px 24px;
}

/* HOME PAGE */
.intro {
    position: relative;
    margin-top: 15vh;
    padding: 0 20px;
}

.intro h1 {
    font-weight: 900;
}

.intro button {
    padding: 12px 16px;
    margin-top: 20px;
}
.intro button:nth-child(4) {
    background: var(--button-bg-fill);
}
.intro button:nth-child(4) a {
    color: var(--primary-button-color);
}

.intro button:hover {
    padding: 12px 24px;
}

/* Clients */
.clients {
    width: 100%;
    margin-top: 10vh;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    overflow-x: auto;
    opacity: 0.2;
    padding: 0 20px;
    /* animation: clients-slide;
    animation-timeline: view();
    transition: 5s ease-in-out; */
}
@keyframes clients-slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
.clients img {
    max-width: 200px;
    height: 80px;
    background: var(--button-bg-fill);
    margin: 10px;
}

/* What we do */
.w-w-do {
    padding: 100px 0.5rem;
}
.sec-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
}
.w-w-do .card-effect {
    max-width: 95vw;
}
.w-w-do .card-effect img{
    max-width: 100%;
    /* height: fit-content; */
}
.w-w-do .card-effect a {
    padding: 20px 0;
}
/* Why chose us */
.w-c-us {
    background: rgb(1, 41, 18);
    mix-blend-mode: multiply;
    padding: 0;
    color: #ffffff;
}
.w-c-us .service-rend {
    display: flex;
    flex-wrap: wrap;
}
.w-c-us .card-effect {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-delay: 2s;
    width: fit-content;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.w-c-us .card-effect img {
    max-height: 40px;
}
/* Workdone */
.wrkdone {
    padding: 0 0.5rem;
}
.wrkdone .card-effect {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation-delay: 5s;
    overflow: hidden;
    margin: 50px auto;
}
.wrkdone .web-container iframe {
    min-width: 99%;
    height: 300px;
}
 .wrkdone a {
    margin: 20px 0;
    display: block;
 }
.wrkdone .wrk-tags span {
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px 10px;
    background: var(--button-bg-fill);
    color: var(--primary-button-color);
}
.wrkdone .wrk-tags span:last-child {
    background: rgba(0, 0, 0, .1);
    color: #000;
}

footer {
    bottom: 0 !important;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin: 0;
    transition: 0.5s ease-in-out;
    padding: 8px 20px;
    inset: 0;border: 1px solid rgba(255, 255, 255, 0.3);
    border: 0 solid rgba(255, 255, 255, 0.35);
    border-radius: 100px;
}

footer a:hover, footer a:active, footer a:focus {
    padding: 8px 35px;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: multiply;
    backdrop-filter: blur(5px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
}
footer a:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), transparent);
    opacity: 0.5;
}


/********** LARGE SCREEN VIEW  ***************/
@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
    }
    .card-effect {
    padding: 25px;
    }
    h1 { font-size: clamp(2rem, 3vw, 3rem); }
    h2 { font-size: clamp(1.75rem, 2.5vw, 2.5rem); }
    h3 { font-size: clamp(1.3rem, 2vw, 1.7rem); }

    /* intro h1 {
        font-size: 4rem;
    } */
    p, a, button {
        font-size: 1.1rem;
    }
.w-w-do .card-effect {
    max-width: 320px;
}
.w-w-do .card-effect img{
    max-width: 100%;
}
.card-effect img {
    max-height: 300px;
}
.wrkdone {
    padding: 50px;
}
.wrkdone .card-effect {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-delay: 5s;
}
.wrkdone .web-container iframe {
    max-width: 30vw;
    height: 250px;
}
.wrkdone .wrk-tags {
    display: block;
    margin-top: 30px;
}
}